<div id="footer">
  <div style="margin-bottom: 10px;">Design and Developed by Hardik Sharma</div>
  <div>
    <a href="https://www.facebook.com/profile.php?id=100024879908876"><i
        class="fa-brands fa-facebook"
        style="color:navy"
      ></i></a>
    <a href="https://www.instagram.com/hardik_sharma__20/"><i
        class="fa-brands fa-instagram-square"
        style="color:red"
      ></i></a>
    <a href="https://www.youtube.com/channel/UCrzmu0MsVtFkiUiRk7kQNGQ"><i
        class="fa-brands fa-youtube"
        style="color:red;"
      ></i></a>
    <a href="https://twitter.com/_hardik__sharma"><i
        class="fa-brands fa-twitter-square"
        style="color:
            blue"
      ></i></a>
  </div>
</div>